<p>ジャンル一覧</p>
<% @foods.each do |food| %>
<%= food.name %>
<%= food.kcal %>
<%= form_with model: @new_customer_food,url: public_customer_foods_path do |f| %>
<%= f.hidden_field :customer_id, :value => current_customer.id %> <!-- 別のテーブルのidを渡す -->
<%= f.hidden_field :food_id, :value => food.id %>
<%= f.submit '記録する' %>
<% end %>
<% end %>

<h2>今日食べた物</h2>

<% @total=0 %>
<% @customer_foods.each do |customer_food| %>
  <p>食べ物の名前：<%= customer_food.food.name %></p>
  <% if customer_food.food != nil && customer_food.food.kcal != nil%>
    <% @total += customer_food.food.kcal %>
  <% end %>
  <p>カロリー合計：<%= @total %></p>
   <%= link_to "消去する",  public_customer_food_path(customer_food.id), method: :delete, "data-confirm" => "Are you sure?" %>
<% end %>


  <%= link_to "リセット",  public_customer_foods_all_destroy_path, method: :delete, "data-confirm" => "Are you sure?" %>

