
<div>
    <%= link_to public_post_images_path(@post_image.id) do %>
    <%#= image_tag post_image.image %>
  <% end %>
   <p>投稿ユーザー画像：<%= image_tag @post_image.customer.get_profile_image(100,100) %></p>
  <p>ショップ名：<%= @post_image.title %></p>
  <p>説明：<%= @post_image.caption %></p>
  <p>ユーザーネーム：<%= @post_image.customer.last_name %><%= @post_image.customer.first_name %>さん</p>
</div>
<% if customer_signed_in? %>
<% if @post_image.favorited_by?(current_customer) %>
    <p>
      <%= link_to public_favorites_path(post_image_id: @post_image), method: :delete do %>
        ♥<%= @post_image.favorites.count %> いいね
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to public_favorites_path(post_image_id: @post_image), method: :post do %>
        ♡<%= @post_image.favorites.count %> いいね
      <% end %>
    </p>
  <% end %>
<% end %>
<div>
  <p>コメント件数：<%= @post_image.post_comments.count %></p>
  <% @post_image.post_comments.each do |post_comment| %>
    <p><%= image_tag post_comment.customer.get_profile_image(100,100) %></p>
    <%= post_comment.customer.last_name %><%= post_comment.customer.first_name %>
    <%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %>
  <% end %>
</div>
<% if customer_signed_in? %>
  <div>
    <%= form_with model:@post_comment,url:public_post_image_post_comments_path(@post_image), method: :post  do |f| %>
      <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
      <%= f.submit "送信する" %>
    <% end %>
  </div>
<% end %>