<h1>手ばかり栄養法とは</h1>
背の高い人と低い人の手のひらを比べると、高い人の方が大きい手をしています。身体の大きさと、必要なカロリー数は比例していると言われています。そこで、自分の手のひらを秤として使いカロリーコントロールをする方法が「手ばかり栄養法」です。
<h1>１日の目安量</h1>
①肉・魚・大豆製品・卵
左手に乗る大きさの魚と肉(肉・魚の厚さは手のひらの厚さ)
右手に乗る大きさの豆腐等や卵(豆腐は手のひらの2倍の厚さ)
<p></p>
<%= image_tag("IMG_5289.PNG", :size => '100x100') %>
<%= image_tag("IMG_5291.PNG", :size => '100x100') %>
<p></p>

②野菜・海藻・きのこ・こんにゃく
両手一杯分の緑黄色野菜と両手2杯分のその他の野菜
<p></p>
<%= image_tag("IMG_5293.PNG", :size => '100x100') %>
<p></p>
人差し指と親指で輪を作り中に入る大きさのものを1個。1種類でも色々な種類でも、合わせて1個分です
<p></p>
<%= image_tag("IMG_5295.PNG", :size => '100x100') %>
<p></p>
④いも類・牛乳•乳製品
【いも類】握りこぶし1個分
【乳製品】牛乳ならコップ1杯
<p></p>
<%= image_tag("IMG_5297.PNG", :size => '100x100') %>
<p></p>
⑤ご飯類
手のひらに収まる大きさの茶碗で毎食1膳から1.5膳
<p></p>
<%= image_tag("IMG_5299.PNG", :size => '100x100') %>
<p></p>
⑥お菓子
【和菓子】人差し指と親指の輪の中に入る大きさ
【洋菓子】片手の手のひらに乗る大きさのもの
【スナック菓子】片手に乗る量
<p></p>
<%= image_tag("IMG_5301.PNG", :size => '100x100') %>
<p></p>
⑦お酒
【ビール】親指の長さの直径のグラスに、人差し指の長さと同じ高さの量まで
【ブランデー・ウイスキー】親指の長さの直径のグラスに親指の太さと同じ高さの量まで
【日本酒・ワイン】親指の長さの直径のグラスに人差し指の長さと同じ高さの量まで
<p></p>
<%= image_tag("IMG_5305.PNG", :size => '100x100') %>
<%= image_tag("IMG_5306.PNG", :size => '100x100') %>
<%= image_tag("IMG_5307.PNG", :size => '100x100') %>
<p></p>
このように、手の平を秤代わりに使えば簡単にカロリーコントロールができます。ぜひ、お試しください。