<h1>Homes#top</h1>
<p>ここはアドミンでもパブリックでも使えるホームズトップ</p>

<li>
<%= link_to  public_post_images_path ,class: "nav-link text-black" do %>
  <i class="text-right"></i> ポストイメージパス
<%end%>
</li>
<li>
<%= link_to  homes_top_path ,class: "nav-link text-black" do %>
  <i class="text-right"></i></i> ホームページ
<%end%>
</li>
<li>
<%= link_to  new_customer_registration_path ,class: "nav-link text-black" do %>
  <i class="text-right"></i></i> サインアップ
<%end%>
</li>
<li>
<%= link_to  new_customer_session_path ,class: "nav-link text-black" do %>
  <i class="text-right"></i></i> サインイン
<%end%>
</li>
<li>
<%= link_to  destroy_customer_session_path ,class: "nav-link text-black" do %>
  <i class="text-right"></i></i> ログアウト
<%end%>
</li>

<tbody>
  <% @posts.each do |post| %>
  <tr>
    <td><%= post.customer.first_name %></td>
    <td><%= post.shop_name %></td>
    <td><%= post.caption %></td>
    <td><%#= link_to "編集", edit_post_path(@post) %></td>
    <% if post.bookmarked_by?(current_customer) %>
      <td><%= link_to "ブックマークを外す", post_bookmarks_path(post), method: :delete %></td>
    <% else %>
      <td><%= link_to "ブックマーク", post_bookmarks_path(post), method: :post %></td>
    <% end %>
  </tr>
  <%end%>
</tbody>

<table>
  <caption>ブックマーク一覧</caption>
  <thead>
    <tr>
      <th>投稿者名</th>
      <th>タイトル</th>
      <th>本文</th>
    </tr>
  </thead>
  <tbody>
    <% @bookmarks.each do |bookmark| %>
      <tr>
        <td><%= bookmark.customer.first_name %></td>
        <td>
          <%= link_to homes_top_path do %>
            <%= bookmark.post_image.shop_name %>
          <% end %>
        </td>
        <td><%= bookmark.post_image.caption %></td>
      </tr>
    <% end %>
  </tbody>
</table>

